<div class="main-section-container">

  <div class="title-section">
      <h1>{{ block.settings.status_title }}</h1>
  </div>

  <div class="search-returnment">
      <div class="search-container-returment">
          <input type="text" id="search-input" placeholder="Buscar estatus de devolución">
          <button id="search-button">Buscar</button>
      </div>
  </div>

  <div class="result-container">


      <div class="progress-container">
          <div class="progress" id="progress-bar"></div>
      </div>

      <div class="container-info-returnment">

          <div class="container-info-column-returnment">
              <div class="circle pending__svg">
                  {% render 'svg' name:'pending' %}
              </div>
          </div>

          <div class="container-info-column-returnment">
              <div class="circle carrier__svg">
                  {% render 'svg' name:'carrier' %}
              </div>
          </div>

          <div class="container-info-column-returnment">
              <div class="circle review__svg">
                  {% render 'svg' name:'review' %}
              </div>
          </div>

          <div class="container-info-column-returnment">
              <div class="circle result__svg">

              </div>
          </div>

      </div>

      <div class="container-details-returnment">
          <div class="details-section">
              <div class="title-stage-returnment">
                  <h2>Estatus</h2>
              </div>
              <div class="info-stage">
                  <p class="status-label" id="status-info-label">Review the server status</p>
              </div>
          </div>
          <div class="details-section">
              <div class="title-stage-returnment">
                  <h2>Detalles</h2>
              </div>
              <div class="info-stage">
                  <p class="status-info-populated" id="status-info-populated"></p>
                  <p class="status-info-commentaries" id="status-info-commentaries"></p>
              </div>
          </div>
      </div>

  </div>

  <div class="no-result-found">
    <div class="details-section"></div>
      <div class="info-stage all-rounded">
        <p class="status-label">No hay informacion de esa devolución</p>
      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Ticket Status Check",
    "target": "section",
    "stylesheet": "code_ticket_check.min.css",
    "javascript": "code_ticket_check.min.js",
    "settings": [
      {
        "type": "text",
        "id": "status_title",
        "label": "Check status title",
        "default": "Estatus de la devolucion"
      }
    ]
  }
{% endschema %}
